In [20]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

In [3]:
datawalk = pd.read_csv('RealData/B_Accelerometer_data/B_Accelerometer_data/wlk_7/sub_1.csv', sep=",")
datawalk = datawalk.drop(datawalk.columns[0], axis=1)
datawalk['Type'] = 'Walk'
datawalk.head()

          x         y         z  Type
0 -0.036026  1.132874 -0.534454  Walk
1 -0.164169  1.119904 -0.597763  Walk
2 -0.725891  1.733337 -0.441193  Walk
3 -1.081116  1.331757  0.396667  Walk
4 -0.712479  0.681702  0.240891  Walk

In [4]:
datajog = pd.read_csv('RealData/B_Accelerometer_data/B_Accelerometer_data/jog_9/sub_1.csv', sep=",")
datajog = datajog.drop(datajog.columns[0], axis=1)
datajog['Type'] = 'Jog'
datajog.head()

          x         y         z Type
0  0.533203  2.243454  0.436127  Jog
1 -0.611053  4.284424 -2.440475  Jog
2 -1.465057  1.312225  1.023117  Jog
3 -0.450760  0.076752  0.908340  Jog
4 -0.054520 -0.101074  0.981995  Jog

In [5]:
datasit = pd.read_csv('RealData/B_Accelerometer_data/B_Accelerometer_data/sit_5/sub_1.csv', sep=",")
datasit = datasit.drop(datasit.columns[0], axis=1)
datasit['Type'] = 'Sit'
datasit.head()

          x         y         z Type
0  0.318314  0.411255 -0.862122  Sit
1  0.319397  0.408234 -0.863922  Sit
2  0.309860  0.406281 -0.863373  Sit
3  0.318176  0.412018 -0.862961  Sit
4  0.317642  0.410065 -0.867920  Sit

In [10]:
frames = [datawalk, datajog, datasit]
data = pd.concat(frames)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20859 entries, 0 to 10418
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       20859 non-null  float64
 1   y       20859 non-null  float64
 2   z       20859 non-null  float64
 3   Type    20859 non-null  object
dtypes: float64(3), object(1)
memory usage: 814.8+ KB

In [13]:
data

              x         y         z  Type
0     -0.036026  1.132874 -0.534454  Walk
1     -0.164169  1.119904 -0.597763  Walk
2     -0.725891  1.733337 -0.441193  Walk
3     -1.081116  1.331757  0.396667  Walk
4     -0.712479  0.681702  0.240891  Walk
...         ...       ...       ...   ...
10414  0.348114  0.378433 -0.887390   Sit
10415  0.346649  0.371063 -0.877670   Sit
10416  0.340668  0.354324 -0.869843   Sit
10417  0.342819  0.352432 -0.874908   Sit
10418  0.347458  0.356140 -0.875885   Sit

[20859 rows x 4 columns]

In [17]:
y = data['Type'].values
X = data[['x','y','z']]

##data is splitted for train and test
X_train, X_test, y_train, y_test = train_test_split(X , y, test_size = 0.20, random_state = 21, stratify = y)

In [18]:
from sklearn.neural_network import MLPClassifier               ##train with MLPClassifier

clf = MLPClassifier(hidden_layer_sizes=(100,100,100))

##rain the data
clf.fit(X_train,y_train)

##predict the value
y_predict = clf.predict(X_test)

##show the result
print("Prediction result: {} of MLPClassifier".format(y_predict))

Prediction result: ['Sit' 'Sit' 'Walk' ... 'Sit' 'Sit' 'Walk'] of MLPClassifier

In [21]:
MLPClassifieraccuracyScore = round(accuracy_score(y_test,y_predict),4)
print("Prediction accuracy {} for MLPClassifieraccuracyScore".format(MLPClassifieraccuracyScore))

Prediction accuracy 0.9245 for MLPClassifieraccuracyScore